@model CustomActionFilters.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    @Model.Name<br />
    @Model.Location<br />
    <label>Twitter:</label> @Model.TwitterHandle<br/>
    @if (Model.ShowEmail)
    {
        <label>Email:</label> @Model.Email
    }
</p>